section {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.logo img {
    max-width: 100px;
}

.menu ul li {
    display: inline;
    padding: 0 25px;
    font-size: 20px;
}

.menu ul li a:hover {
    color: #890200;
    border-bottom: 2px solid #890200 ;
    padding-bottom: 15px;
} 

header {
    padding: 20px 0;
}

.logo, .menu {
    display: inline-block;

}

.menu ul li a {
    color: #dc0502;
    text-decoration: none;
}

.menu {
    position: relative;
    bottom: 40px;
}

.slider {
    background-image: url('../img/slider3.png');
    height: 360px;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.item {
    display: inline-block;
    width: 30%;
    margin: 1%;
    border: 2px solid #f2f2f2;
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
} 

/* com grid 
.produtos {
    display: grid ;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 30px;
    padding: 30px;
} */

.item img {
    width: 98%;
    padding: 1%;
}

.produtos {
    padding-top: 15px;
}

.item .titulo, .item .preco{
    font-size: 30px;
    text-align: center;
    font-weight: 800;
}

.btn {
    background-color: #dc0502;
    color: #fff;
    text-align: center;
    padding: 15px;
    width: 50%;
    margin: 10px auto;
    border-radius: 20px;
}

.item a {
    text-decoration: none;
}

footer {
    background-color: #dc0502;
    color: #fff;
    font-size: 30px;
    text-align: center;
    padding: 40px;
}

footer label, footer input, footer textarea{
    width: 100%;
    padding: 10px;
    margin: 10px;
}

footer form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

footer h2 {
    margin: 10px auto
}

footer a {
    text-decoration: none;
}

.whats {
    background-color: green;
    color: #fff;
    position: fixed;
    bottom: 0;
    right: 150px;
    padding: 20px;
}

.sobre h1 {
    padding: 20px 0;
    font-size: 35px;
    font-style: bold;
}

.sobre p {
    font-size: 22px;
    line-height: 22px;
    padding: 10px 0;
    text-align: justify;
}

.sobre img {
    height: 500px;
    display: inline-block;
    padding: 20px 35px;
    border-radius: 60px;
}

.sobre img {
    margin: 15px 0 25px 0;
}

